@use '../media' as *;

.button {
    border-radius: 10px;
    padding: 16px 24px;

    background-color: #1C1C21;
    color: var(--color-light);
    border: 1px solid #2F2F37;
    font-weight: 500;
    text-wrap: nowrap;

    &--accent {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 66px;
        width: 130px;
        background-color: #4A2CED;
        box-shadow: 4px 4px 17px 0 rgba(255, 255, 255, 0.28) inset;
        border-radius: 100px;

        @include laptop {
            width: 104px;
            height: 56px;
        }

        @include mobile {
            width: 80px;
            height: 48px;
        }
    }
}