@use '../media' as *;

.services {
    display: flex;
    column-gap: 50px;

    @include tablet {
        flex-direction: column;
        row-gap: 30px;
    }

    &__title {
        display: flex;
        align-items: center;
        column-gap: 16px;

        font-size: 44px;
        font-weight: 600;
        text-transform: uppercase;
        color: #797C86;

        margin-bottom: 20px;

        @include laptop {
            column-gap: 10px;
            font-size: 34px;

            margin-bottom: 16px;
        }

        @include mobile {
            column-gap: 4px;
            font-size: 28px;

            margin-bottom: 12px;
        }
    }

    &__description {
        color: #797C86;

        margin-bottom: 50px;

        @include laptop {
            font-size: 16px;
            line-height: 1.5;

            margin-bottom: 40px;
        }

        @include mobile {
            font-size: 14px;

            margin-bottom: 30px;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        @include mobile {
            row-gap: 8px;
        }

        &-title {
            margin-bottom: 10px;

            font-weight: 500;

            @include laptop {
                margin-bottom: 6px;
            }

            @include mobile {
                margin-bottom: -2px;
            }
        }

        &-item {
            display: flex;
            align-items: center;
            column-gap: 10px;

            padding: 18px 20px;
            border: 1px solid #1C1C21;
            border-radius: 12px;

            @include laptop {
                padding: 16px 18px;
            }

            @include mobile {
                padding: 14px;

                column-gap: 4px;
            }
        }

        &-icon {
            color: #474752;

            svg {
                @include laptop {
                    width: 30px;
                    height: 30px;
                }
            }

        }

        &-text {
            text-transform: uppercase;
        }
    }

    &__image {
        width: 50%;
        object-fit: contain;

        @include tablet {
            width: 100%;

            order: -1;
        }
    }
}