@use '../media' as *;

.soc1als {
    &__list {
        display: flex;
        column-gap: 16px;

        padding: 10px;
        background-color: #070708;
        border: 1px solid #1C1C21;
        border-radius: 100px;

        @include mobile {
            column-gap: 10px;
            padding: 8px;
        }

        &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;
            background-color: #1C1C21;
            border: 1px solid #2F2F37;
            border-radius: 100px;

            @include mobile {
                width: 40px;
                height: 40px;
            }

            svg {
                @include mobile {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
}