:root {
    --color-light: #FFF;
    --color-dark: #000;
    --color-dark-30: #070708;
    --color-accent: #4A2CED;
    --color-gray: #62646C;
    --color-gray-70: #AFB0B6;

    --font-family-base: 'Manrope', sans-serif;

    --container-width: 1920px;
    --container-padding-x: 162px;

    --section-padding-y: 75px;

    --transition-duration: 0.2s;
}